.imageWhyStudy {
    max-width: 200px;
    width: 100%;
}

.fontIcons {
    font-size: 54px;
    color: white;
    text-align: center;
    width: 100%;
}

video {
    width: 100%;
    margin-bottom: 32px;
}